section{
    margin-top:10px;
    background-image: url('./pexels-lukas-590022.jpg');
    width: 1200px;
    height: 500px;
    width: 1200px;
     display: table;
    position: relative;
     background-size: cover;
}
h2{
    font-family: "Varela", sans-serif;
    margin: 100px;
    font-size: 32px;
    color: #196fc2;
    text-align: center;
    text-transform: uppercase;    
}
.features{
    font-family: "Varela", sans-serif;
    margin: 100px;
    font-size: 24px;
    color: #3c90df;
    text-align: center;
    text-transform: uppercase;    
}
.spanName{
    font-family: "Varela", sans-serif;
    
    font-size: 22px;
    color: #ECB0AE;
    text-align: center;
    text-transform: uppercase; 
}