.trending-container {
  background: $color-3;
  border-radius: 20px;
  margin-bottom: 14px;
  padding: 20px;
  width: 900px;

  h4 {
    font-size: 1.4rem;
    color: $color-1;
    margin-bottom: 12px;
  }
  h3 {
    font-size: 1.4rem;
    color: $color-4;
    margin-bottom: 12px;
  }


}
